{{define "index"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>

<body>
    <form action="/create" method="post">
        <input type="text" name="title">
        <input type="text" name="content">
        <button type="submit">Kirim</button>
    </form>
</body>

{{range $index, $elem := .article}}
<h1>{{$elem.Title}}</h1>
<h3>{{$elem.Content}}</h3>
<a href="/edit/{{$elem.ID}}">Edit</a> ||
<form action="" method="post">
    <a href="/delete/{{$elem.ID}}">Delete</a>
</form>
{{end}}

</html>
{{end}}

<!-- c1wVHiY2wOXM5xqbWbEl9s0U2dUNUt5b -->