{{define "edit"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index</title>
</head>

<body>
    {{range .articles}}
    <form action="/update/{{.ID}}" method="post">
        <input type="text" name="title" value="{{.Title}}">
        <input type="text" name="content" value="{{.Content}}">
        <!-- <input name="_method" type="hidden" value="PUT"> -->

        <button type="submit">Kirim</button>
    </form>
    {{end}}
</body>

</html>
{{end}}